.container-card{
    background-color:  #ebba70;
    padding: 15px;
    margin-left: 15px;
    position: sticky;
   top: 0;
 
    
}
.card-title{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
margin-bottom: 15px;
text-align: center;
}

.items-card{
font-family: 'Lato';
font-style: normal;
font-size: 17px;
line-height: 20px;
color: #2A414F;
}

.clear-btn{
   width: 200px;
   margin: 30px auto;
    background: #FF3030;
    color: #fff;
   padding: 5px;
   border-radius: 4px;
   cursor: pointer;
   border: none;
   display: flex;
   justify-content: space-between;
   font-size: 18px;

  
   
}

.btn-icon{
    font-size: 20px;
   
}